[구글 코랩(Colab)에서 실행하기](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert/blob/main/part1/ch2/ch2_pandas.ipynb)

# 판다스

## Section1. 데이터프레임과 시리즈

In [ ]:
print("hello")

In [1]:
# 판다스 라이브러리 불러오기
import pandas as pd
# 판다스 데이터는 시리즈와 데이터프레임으로 구성된다.
# Series는 1차원 형태이고, DataFrame은 행과 열이 있는 2차원 형태다.
# 판다스에서 축(axis)을 숫자로 나타낼 때 행은 0, 열은 1로 표시한다. = "행(0)렬(1)"

In [2]:
# 시리즈 만들기 (문자열) - Object형은 주로 문자열 데이터를 나타내는 데 사용된다.
menu = pd.Series(['비빔밥', '김치찌개', '된장찌개'])
menu

0     비빔밥
1    김치찌개
2    된장찌개
dtype: object

In [3]:
# 시리즈 만들기(정수형)
# 판다스는 리스트에 포함된 데이터 타입을 기반으로 시리즈의 데이터 타입을 자동으로 결정한다.
price = pd.Series([10000, 9000, 8000])
price

0    10000
1     9000
2     8000
dtype: int64

In [4]:
# 데이터 프레임 만들기 pd.DataFrame({"컬럼명":데이터})
pd.DataFrame({
    "menu" : menu,
    "price" : price
})

   menu  price
0   비빔밥  10000
1  김치찌개   9000
2  된장찌개   8000

In [5]:
# 데이터 프레임 만들기 pd.DataFrame({"컬럼명":데이터})
df = pd.DataFrame({
    "메뉴":['비빔밥', '김치찌게', '된장찌게'],
    "가격":[10000, 9000, 8000],
    "원산지":['국내산', '국내산', '국내산']
})
df

     메뉴     가격  원산지
0   비빔밥  10000  국내산
1  김치찌게   9000  국내산
2  된장찌게   8000  국내산

In [6]:
# 시리즈로 선택 (가격)
# 1개의 컬럼명만 선택하면 시리즈 형태로 출력한다.
df['메뉴']

0     비빔밥
1    김치찌게
2    된장찌게
Name: 메뉴, dtype: object

In [7]:
# 데이터프레임으로 선택 (가격)
# 1개의 컬럼을 시리즈가 아닌 데이터프레임으로 만드려면 대괄호로 한 번 더 묶어준다.
df[['메뉴']]

     메뉴
0   비빔밥
1  김치찌게
2  된장찌게

In [8]:
# 복수의 컬럼 선택 = 데이터프레임 자료형
df[['메뉴', '가격']]

     메뉴     가격
0   비빔밥  10000
1  김치찌게   9000
2  된장찌게   8000

In [9]:
# 데이터프레임 선택 (가격)
# 컬럼을 복수로 선택할 때는 주로 리스트를 활용한다.
cols = ['메뉴', '가격']
df[cols]

     메뉴     가격
0   비빔밥  10000
1  김치찌게   9000
2  된장찌게   8000

In [10]:
# 데이터 프레임 type 확인
print("df          : ", type(df))
print("df['가격']   : ", type(df['가격']))
print("df[['가격']] : ", type(df[['가격']]))

df          :  <class 'pandas.core.frame.DataFrame'>
df['가격']   :  <class 'pandas.core.series.Series'>
df[['가격']] :  <class 'pandas.core.frame.DataFrame'>

## Section2. 데이터 저장 및 불러오기

In [11]:
# 데이터 준비
df = pd.DataFrame({
    "메뉴":['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격":[4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리":[10, 110, 250, 110, 20, 210, 0],
})
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [12]:
df.to_csv('temp.csv')

In [13]:
# Unnamed: 0 컬럼은 데이터를 저장할 때 기본 설정으로 기존 인덱스가 값으로 함께 저장된 것이다.
# 가장 왼쪽에 있는 인덱스는 pd.read_csv()로 데이터를 불러올 때 새로 생성된 인덱스다.
temp_df = pd.read_csv('temp.csv')
temp_df.head()

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20

In [14]:
# 데이터 불러오기
# 인덱스를 제외하고 저장하기 위해 index=false로 설정한다.(필수!)
df.to_csv('cafe.csv', index=False)
df = pd.read_csv('cafe.csv')
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [15]:
# 데이터 불러오기 옵션
# 1.index_col : 인덱스로 사용할 컬럼명 또는 열의 번호를 지정할 수 있음
# pd.read_csv('data.csv', index_col='컬럼명')
# pd.read_csv('data.csv', index_col=0)

# 2.usecols : 불러올 컬럼명 또는 열의 번호를 지정
pd.read_csv('cafe.csv', usecols=['메뉴', '가격']) 

# 3.parse_dates : 데이터를 불러올 때, 문자열로 된 컬럼을 날짜 datetime으로 파싱함
# pd.read_csv('data.csv', parse_dates=['컬럼명'])

# 4.encoding : 판다스는 utf-8을 기본 인코딩 방식으로 사용한다. 인코딩 방식을 변경할 수 있다.
# pd.read_csv('data.csv', encoding='cp949')
# pd.read_csv('data.csv', encoding='euc-kr')

      메뉴    가격
0  아메리카노  4500
1   카페라떼  5000
2   카페모카  5500
3   카푸치노  5000
4  에스프레소  4000
5    밀크티  5900
6     녹차  5300

## Section3. 탐색적 데이터 분석(EDA)

EDA는 데이터를 탐색하고 이해하기 위해 수행한다. 데이터를 다양한 각도에서 관찰하고 이해하자.
결측치, 이상치, 패턴, 변수 파악 등 데이터 전처리를 하기 전에 데이터에 대한 이해를 돕는 중요한 단계다.

In [16]:
# 데이터 샘플 확인: 앞에서 부터 N개 (기본 5개)
df.head(2)

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110

In [17]:
# 데이터 샘플 확인: 뒤에서 부터 N개 (기본 5개)
df.tail(3)

      메뉴    가격  칼로리
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [22]:
# 데이터 샘플 확인: 임의로 샘플링해 N개의 행을 반환 (기본 1개)
# 실행할 때마다 다른 결과를 샘플링해 보여준다.
df.sample()

     메뉴    가격  칼로리
3  카푸치노  5000  110

In [23]:
# 데이터 프레임 크기 (행, 컬럼)
# 주의) 뒤에 괄호가 없다.
# shape는 데이터프레임의 속성이어서 괄호가 없고, head(), tail() 등은 함수 형태라서 괄호가 존재한다.
df.shape

(7, 3)

In [24]:
# 컬럼 형태(type)
# 데이터프레임 안 컬럼의 자료형을 확인한다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes

### 상관 관계

상관관계를 확인할 수 있다. 가격과 칼로리는 0.7의 양의 상관 관계를 가진다.

데이터프레임에 숫자형과 문자형 컬럼이 혼합되어 있을 때 corr(), mean(), sum() 같은 함수를 사용하면 에러가 발생한다.
- ValueError : 문자열 데이터를 숫자로 변환할 수 없음

따라서 해당 함수에 numeric_only=True 옵션을 추가해주어야 한다.

시험 환경은 낮은 판다스 버전이기 때문에 설정이 따로 필요없다!

In [25]:
# 상관관계 corr
df.corr(numeric_only=True)

           가격       칼로리
가격   1.000000  0.713227
칼로리  0.713227  1.000000

### 범주형 데이터 탐색

In [26]:
# 중복 값이 있는 데이터 생성
df_car = pd.DataFrame({
    "car":['Sedan','SUV','Sedan','SUV','SUV','SUV','Sedan','Sedan','Sedan','Sedan','Sedan'],
    "size":['S','M','S','S','M','M','L','S','S', 'M','S']
})
df_car.head(3)

     car size
0  Sedan    S
1    SUV    M
2  Sedan    S

In [27]:
# 항목 종류 수 nunique()
# 데이터프레임에서 컬럼별로 고유한 값의 개수를 찾는다.
df_car.nunique()

car     2
size    3
dtype: int64

In [28]:
# 항목 종류
# 구체적인 항목을 파악할 수 있다.
print(df_car['car'].unique())
print(df_car['size'].unique())

['Sedan' 'SUV']
['S' 'M' 'L']

In [29]:
# 항목별 개수(중요)
# 주로 시리즈(데이터프레임 특정 컬럼)에 적용하여 많이 사용한다.
print(df_car['car'].value_counts())
print(df_car['size'].value_counts())

car
Sedan    7
SUV      4
Name: count, dtype: int64
size
S    6
M    4
L    1
Name: count, dtype: int64

### 기술통계

**수치형 데이터**
- count: 값이 있는 데이터 수
- mean
- std: 표준편차
- min
- 00%: 백분위수에서 00%
- max

**object 자료형**
- count: 값이 있는 데이터 수
- unique: 고유한 데이터 수(종류)
- top: 최빈값
- freq: 가장 많이 나오는 값의 빈도 수

In [30]:
# 데이터의 기술 통계량
# 기본적으로 수치형 데이터(int, float 등)만 기본적으로 적용해 기술통계 결과를 확인할 수 있다.
df.describe()

                가격         칼로리
count     7.000000    7.000000
mean   5028.571429  101.428571
std     631.702160   99.402980
min    4000.000000    0.000000
25%    4750.000000   15.000000
50%    5000.000000  110.000000
75%    5400.000000  160.000000
max    5900.000000  250.000000

In [32]:
# 데이터 타입이 object인 기술 통계
df_car.describe(include="object")

          car size
count      11   11
unique      2    3
top     Sedan    S
freq        7    6

In [33]:
df.describe(include="O")

           메뉴
count       7
unique      7
top     아메리카노
freq        1

## Section4. 자료형 변환

In [ ]:
# 데이터 준비
data = {
    "메뉴":['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격":[4500.0, 5000.0, 5500.0, 5000.0, 4000.0, 5900.0, 5300.0],
    "칼로리":['10', '110', '250', '110', '20', '210', '0'],
}
df = pd.DataFrame(data)
df.info()

In [ ]:
# 자료형 변환 / astype /  object -> int
df['가격'] = df['가격'].astype('int')
df.info()

In [ ]:
df['칼로리'] = df['칼로리'].astype('float')
df.info()

## Section5. 새로운 컬럼 추가

In [ ]:
df = pd.read_csv('cafe.csv')
df.head(2)

In [ ]:
# 새로운 컬럼 추가 (값은 0)
df['new'] = 0
df.head(2)

In [ ]:
# 할인가 컬럼 추가
discount = 0.2
df['할인가'] = df['가격'] * (1-discount)
df.head(2)

## Section6. 데이터 삭제 (컬럼, 행)

In [ ]:
df = pd.read_csv('cafe.csv')
df.head(3)

### 행 삭제

In [ ]:
# 행 삭제
df.drop(1, axis=0, inplace=True)
df.head(3)

### 컬럼 삭제

In [ ]:
# 데이터 삭제
# axis=0:행방향, axis=1:열방향(컬럼)
df = df.drop('칼로리', axis=1)
df.head(3)

## Section7. 인덱싱/슬라이싱(loc)
- 인덱스 명
- 인덱스 명(범위), 컬럼 명(범위)

In [ ]:
# 데이터 불러오기
df = pd.read_csv('cafe.csv')
df.head(2)

In [ ]:
# 인덱싱 (행 전체)
# 아메리카노
df.loc[0]

In [ ]:
# 카페라떼 가격
df.loc[1, "가격"]

In [ ]:
# 슬라이싱 (컬럼 전체)
# 가격
df.loc[:, "가격"]

In [ ]:
# 슬라이싱
df.loc[2, '메뉴':'칼로리']

In [ ]:
# 슬라이싱
# 카페모카 메뉴와 칼로리
df.loc[2, ['메뉴', '칼로리']]

In [ ]:
# 슬라이싱
df.loc[1:3, '메뉴':'가격']

## Section8. 인덱싱/슬라이싱(iloc)
- 인덱스 번호
- 인덱스 번호(범위), 컬럼 번호(범위)

In [ ]:
# 데이터 불러오기
df = pd.read_csv('cafe.csv')
df.drop(0, axis=0, inplace=True) # 첫번째 행 삭제
df.head(2)

In [ ]:
# 인덱싱 (행 전체)
# 카페라떼
df.iloc[0]

In [ ]:
# 슬라이싱 (컬럼 전체)
# 가격
df.iloc[:, 1]

In [ ]:
# 슬라이싱
# 카페모카 메뉴와 가격
df.iloc[2, 0:2]

In [ ]:
# 슬라이싱 (카페라떼와 카페모카의 전체 데이터)
df.iloc[1:3]

In [ ]:
df.loc[2:3,'메뉴':'칼로리']

## Section9. 데이터 추가/변경

In [ ]:
# 데이터 불러오기
df = pd.read_csv('cafe.csv')
df.head(2)

In [ ]:
# 결측값으로 추가, 원두 컬럼을 만들고 결측값(NaN)으로 대입
import numpy as np
df['원산지'] = np.nan
df.head(4)

In [ ]:
# 아메리카노의 원두는 '콜롬비아' 데이터 추가
df.loc[0, "원산지"] = '콜롬비아'
df.loc[2:3, "원산지"] = '과테말라'
df.head(4)

In [ ]:
# 리스트 형태로 데이터(행) 추가
df.loc['시즌'] = ['크리스마스라떼', 6000, 300, '한국']
df.tail(3)

In [ ]:
# 딕셔너리 형태로 데이터(행) 추가
df.loc[7] = {'메뉴':'딴짓커피', '가격':2000, '칼로리':20}
df.tail(3)

In [217]:
df.drop("시즌", axis=0, inplace=True)
df.to_csv('cafe2.csv', index=False)

## Section10. 정렬

In [ ]:
# 데이터 불러오기
df = pd.read_csv('cafe2.csv')
df.head(2)

In [ ]:
# 인덱스 기준 (기본값 ascending=True)
df.sort_index(ascending=False)

In [ ]:
# 값 기준 (기본값 ascending=True)
# 메뉴 기준 정렬
df.sort_values('메뉴',ascending=False)

In [ ]:
# 가격과 메뉴 기준 정렬
df.sort_values(['가격', '메뉴'],ascending=[False, True], inplace=True)
df

In [ ]:
# 인덱스 새로 만들기 drop=True
df.reset_index(drop=True)

## Section11. 필터링

In [ ]:
# 데이터 불러오기
df = pd.read_csv('cafe2.csv')
df.head(2)

In [ ]:
df['칼로리'] < 50

In [ ]:
# 1개 조건
cond = df['칼로리'] < 50
df[cond]

In [ ]:
# 1개 조건
df[df['칼로리'] < 50]

In [ ]:
cond = df['칼로리'] < 50
df[~cond]

In [ ]:
# 2개 이상 일때 (AND)
cond1 = df['가격'] >= 5000
cond2 = df['칼로리'] > 100
df[cond1 & cond2]

In [ ]:
# 2개 이상 일때 (OR)
df[cond1 | cond2]

In [ ]:
# 문자열 1개 조건
# 원두 == 콜롬비아
cond = (df['원산지'] == "과테말라")
df[cond]

In [ ]:
# 문자열과 숫자 조건 (AND)
cond1 = df['원산지'] == "과테말라"
cond2 = df['가격'] <= 5000
df[cond1 & cond2]

In [ ]:
df['메뉴'].isin(['녹차'])

In [ ]:
cond = df['메뉴'].isin(['녹차'])
df[cond]

In [ ]:
box = ['녹차', '카푸치노', '카페라떼']
cond = df['메뉴'].isin(box)
df[cond]

## Section12. 결측치 처리

In [ ]:
# 데이터 불러오기
df = pd.read_csv('cafe2.csv')
df.head(2)

In [ ]:
df.isnull()

In [ ]:
# 컬럼별 결측치 확인
df.isnull().sum()

In [ ]:
# 컬럼별 결측치 확인
df.isna().sum()

In [ ]:
# 결측값 채우기
df['원산지'].fillna('코스타리카', inplace=True)
df

In [240]:
df.to_csv("cafe3.csv", index=False)

## Section13. 값 변경

In [ ]:
# 데이터 확인
pd.read_csv("cafe3.csv")
df.head(3)

In [ ]:
# 문자 변경 : 아메리카노 -> 룽고, 녹차 -> 그린티
df.replace('아메리카노', '룽고', inplace=True)
df.replace('녹차','그린티', inplace=True)
df

In [ ]:
change = {'룽고':'아메리카노', '그린티':'녹차'}
df.replace(change, inplace=True)
df

In [ ]:
# loc로 값 변경하기
df.loc[6, '원산지'] = '대한민국'
df.tail(3)

In [ ]:
# 이벤트가 전체 1000으로 변경
df.loc[1:2, '이벤트가'] = 1000
df.head()

In [246]:
df.to_csv("cafe4.csv", index=False)

## Section14. 문자열

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': ['데이터 분석', '기본 학습서', '퇴근 후 열공'],
                   'B': [10, 20, 30],
                   'C': ['ab cd', 'AB CD', 'ab cd ']
                   })
df

In [ ]:
df['A'] = df['A'].replace('분석', '시각화')
df

In [ ]:
df['A'] = df['A'].str.replace('분석', '시각화')
df

In [ ]:
df['B'] = df['B'].replace(10, 100)
df

In [251]:
# 에러
# df['B'] = df['B'].str.replace(20, 200)
# print(df)

In [ ]:
# 문자열 분리
df['A'].str.split()

In [ ]:
df['A'].str.split()[0]

In [ ]:
df['D'] = df['A'].str.split().str[0]
df

In [ ]:
# 문자 검색
df['A'].str.contains('기본')

In [ ]:
df['기본포함유무'] = df['A'].str.contains('기본')
df

In [ ]:
menu = pd.Series(['맛난버거 세트', '매운 치킨버거', '더블 치즈버거'])
menu.isin(['맛난버거 세트', '더블 치즈버거'])

In [ ]:
menu.str.contains('세트')

In [ ]:
df['문자길이'] = df['A'].str.len()
df

In [ ]:
'AB cd' == 'ab CD'

In [ ]:
df['C'] = df['C'].str.lower()
df['C']

In [ ]:
df['C'] = df['C'].str.upper()
df['C']

In [ ]:
df['C'] == 'AB CD'

In [ ]:
df['C'] = df['C'].str.lower()
df['C'] = df['C'].str.replace(" ","")
df['C']

In [ ]:
df['C'].str[1:3]

In [ ]:
df['C'][1:3]

## Section15. 내장함수
- 데이터 핸들링을 위한 판다스 기초1(EDA) 부분에서 일부 내장함수를 학습했고, 그외 함수에 대해 살펴봄

In [ ]:
df = pd.read_csv("cafe4.csv")
df.head(2)

In [ ]:
print(len(df))
print(df.shape[0])

In [ ]:
cond = df['가격'] > 5000

#sum으로 조건에 맞는 개수 구하기
print(sum(cond))

#len으로 조건에 맞는 개수 구하기
print(len(df[cond]))

In [ ]:
df.sum(numeric_only=True)

In [ ]:
df.sum(axis=1, numeric_only=True)

In [ ]:
print("최대값: ",df['가격'].max())
print("최소값: ",df['가격'].min())
print("평균값: ",df['가격'].mean())
print("중앙값: ",df['가격'].median())
print("합계: ",df['가격'].sum())
print("표준편차: ",df['가격'].std())
print("분산: ",df['가격'].var())

In [ ]:
# 분위수
print("분위수 25% 값", df['가격'].quantile(.25))
print("분위수 75% 값", df['가격'].quantile(.75))

In [ ]:
# 하위 25% 데이터
cond = df['가격'].quantile(.25) > df['가격']
df[cond]

In [ ]:
# 상위 25% 데이터
cond = df['가격'].quantile(.75) < df['가격']
df[cond]

In [ ]:
# 최빈값 구하기
df['원산지'].mode()[0]

In [ ]:
df['가격'].idxmax()

In [ ]:
max_ind = df['가격'].idxmax()
df.loc[max_ind]

In [ ]:
# df.loc[max_ind, '메뉴'] # 추천 방법
df.loc[max_ind]['메뉴'] # 다른 방법

In [ ]:
df.nlargest(3, '가격')

In [ ]:
df.nsmallest(2, '가격')

In [ ]:
# apply 적용해서 새로운 컬럼 생성 (칼로리 컬럼 활용)
def cal(x):
    if x >= 100:
        return "No"
    else:
        return "Yes"

df['먹어도 될까요'] = df['칼로리'].apply(cal)
df

In [ ]:
import pandas as pd
df = pd.DataFrame({'Name': {0: '쿼카', 1: '알파카', 2: '시바견'},
                   '수학': {0: 90, 1: 93, 2: 85},
                   '영어': {0: 92, 1: 84, 2: 86},
                   '국어': {0: 91, 1: 94, 2: 83},})

df

In [ ]:
pd.melt(df, id_vars=['Name'])

In [ ]:
pd.melt(df, id_vars=['Name'], value_vars=['수학', '영어'])

## Section16. 그룹핑

In [ ]:
df = pd.read_csv("cafe4.csv")
df.head(2)

In [ ]:
# 원두 기준, 평균
df.groupby(['원산지']).mean(numeric_only=True)

In [ ]:
# 원두와 할인율 기준, 평균
df.groupby(['원산지', '칼로리']).mean(numeric_only=True)

In [ ]:
df.groupby(['원산지', '메뉴']).agg(['mean', 'sum'])

In [ ]:
# 1개 인덱스 형태로 리셋
df.groupby(['원산지', '칼로리']).mean(numeric_only=True).reset_index()

## Section17. 시계열 데이터 (Datetime)

In [ ]:
import pandas as pd
data = {
    'Date1': ['2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20'],
    'Date2': ['2024:02:17', '2024:02:18', '2024:02:19', '2024:02:20'],
    'Date3': ['24/02/17', '24/02/18', '24/02/19', '24/02/20'],
    'Date4': ['02/17/2024', '02/18/2024', '02/19/2024', '02/20/2024'],
    'Date5': ['17-Feb-2024', '18-Feb-2024', '19-Feb-2024', '20-Feb-2024'],
    'DateTime1': ['24-02-17 13:45:30', '24-02-18 14:55:45', '24-02-19 15:30:15', '24-02-20 16:10:50'],
    'DateTime2': ['2024-02-17 13-45-30', '2024-02-18 14-55-45', '2024-02-19 15-30-15', '2024-02-20 16-10-50'],
    'DateTime3': ['02/17/2024 01:45:30 PM', '02/18/2024 02:55:45 PM', '02/19/2024 03:30:15 AM', '02/20/2024 04:10:50 AM'],
    'DateTime4': ['17 Feb 2024 13:45:30', '18 Feb 2024 14:55:45', '19 Feb 2024 15:30:15', '20 Feb 2024 16:10:50']
}

df = pd.DataFrame(data)
df.to_csv("date_data.csv", index=False)
df

In [ ]:
df.info()

In [ ]:
df = pd.read_csv("date_data.csv")
df['Date1'] = pd.to_datetime(df['Date1'])
df['Date2'] = pd.to_datetime(df['Date2'], format='%Y:%m:%d')
df['Date3'] = pd.to_datetime(df['Date3'])
df['Date4'] = pd.to_datetime(df['Date4'])
df['Date5'] = pd.to_datetime(df['Date5'])
df['DateTime1'] = pd.to_datetime(df['DateTime1'])
df['DateTime2'] = pd.to_datetime(df['DateTime2'], format='%Y-%m-%d %H-%M-%S')
df['DateTime3'] = pd.to_datetime(df['DateTime3'])
df['DateTime4'] = pd.to_datetime(df['DateTime4'])
df

In [ ]:
df = pd.read_csv("date_data.csv")
df['Date2'] = pd.to_datetime(df['Date2'], format='%Y:%m:%d')
df['Date3'] = pd.to_datetime(df['Date3'], format='%y/%m/%d')
df['DateTime1'] = pd.to_datetime(df['DateTime1'], format='%y-%m-%d %H:%M:%S')
df['DateTime2'] = pd.to_datetime(df['DateTime2'], format='%Y-%m-%d %H-%M-%S')
df[['Date2', 'Date3', 'DateTime1', 'DateTime2']]

In [ ]:
cols = ['Date2', 'Date3', 'DateTime1', 'DateTime2']
df[cols]

In [ ]:
df.info()

In [ ]:
df['year'] = df['DateTime1'].dt.year
df['month'] = df['DateTime1'].dt.month
df['day'] = df['DateTime1'].dt.day
df['hour'] = df['DateTime1'].dt.hour
df['minute'] = df['DateTime1'].dt.minute
df['second'] = df['DateTime1'].dt.second
df

In [ ]:
df['DateTime1'].dt.dayofweek

In [ ]:
print(df['DateTime1'].dt.to_period('Y'))
print(df['DateTime1'].dt.to_period('Q'))
print(df['DateTime1'].dt.to_period('M'))
print(df['DateTime1'].dt.to_period('D'))
print(df['DateTime1'].dt.to_period('H'))

## Section18. 시계열 데이터 (Timedelta)

In [ ]:
df = pd.read_csv("date_data.csv", usecols=['DateTime4'], parse_dates=['DateTime4'])
df

In [ ]:
day = pd.Timedelta(days=99)
df['100day'] = df['DateTime4'] + day
df

In [ ]:
hour = pd.Timedelta(hours=100)
df['100hour'] = df['DateTime4'] + hour
df

In [ ]:
difference = pd.Timedelta(weeks=7, days=7, hours=7, minutes=7, seconds=7)
df['difference'] = df['DateTime4'] - difference
df

In [ ]:
diff = df['100hour'] - df['difference']
diff

In [ ]:
print(diff.dt.total_seconds()) # 초
print(diff.dt.total_seconds()/60) # 분
print(diff.dt.total_seconds()/60/60) # 시간
print(diff.dt.total_seconds()/60/60/24) # 일

In [ ]:
print(diff.dt.days)
print(diff.dt.seconds)

In [ ]:
min = 5.41
print(int(min), "분")
print(0.41*60, "초")

In [ ]:
print(round(diff.dt.total_seconds()/60))

## Section19. 데이터 합치기

In [ ]:
import pandas as pd

# 에피타이저 메뉴
appetizer = pd.DataFrame({
    'Menu': ['Salad', 'Soup', 'Bread'],
    'Price': [5000, 3000, 2000]
})

# 메인 메뉴
main = pd.DataFrame({
    'Menu': ['Steak', 'Pasta', 'Chicken'],
    'Price': [15000, 12000, 10000]
})
print(appetizer)
print(main)

In [ ]:
# 두 메뉴를 수직으로 연결
full_menu = pd.concat([appetizer, main], ignore_index=True)
full_menu

In [ ]:
# 두 메뉴를 좌우로 연결
full_menu = pd.concat([appetizer, main], axis=1)
full_menu

In [ ]:
# 메뉴와 가격
price = pd.DataFrame({
    'Menu': ['Salad', 'Soup', 'Steak', 'Pasta'],
    'Price': [5000, 3000, 15000, 12000]
})

# 메뉴와 칼로리
cal = pd.DataFrame({
    'Menu': ['Soup', 'Steak', 'Pasta','Salad'],
    'Calories': [100, 500, 400, 150]
})

# 두 데이터프레임을 'Menu'를 기준으로 병합
menu_info = pd.merge(price, cal, on='Menu')
menu_info

## Section20.Quiz

In [ ]:
# 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "메뉴":['아메리카노', '카페라떼', '에스프레소', '카페모카', '바닐라라떼'],
    "가격":[4500, 5000, 4000, 5900, 5300],
    "칼로리":[10, 110, np.NaN, 210, np.NaN],
    "원산지":['과테말라','브라질','과테말라', np.NaN, np.NaN]
})
df

**1. '칼로리' 컬럼 결측치는 칼로리 데이터 중 최소값으로 결측치를 채우시오**

In [ ]:
min_cal = df['칼로리'].min()
df['칼로리'] = df['칼로리'].fillna(min_cal)
df

**2. '원산지' 컬럼 결측치는 원두 데이터 중 최빈값으로 결측치를 채우시오**

In [ ]:
f = df['원산지'].mode()[0]
df['원산지'] = df['원산지'].fillna(f)
df

**3. 가격이 5000 이상인 데이터의 수를 구하시오**

In [ ]:
cond = df['가격'] >= 5000
len(df[cond]) # 또는 sum(cond)

**4. ’이벤트가’ 컬럼을 만들고 기존 가격에서 50% 할인된 가격을 채우시오**

In [ ]:
df['이벤트가'] = df['가격'] * 0.5
df

**5. '칼로리' 컬럼을 삭제하시오**
-

In [ ]:
df = df.drop('칼로리', axis=1)
df

**6. 앞에서부터 3개의 데이터만 선택하시오(loc 활용)**

In [ ]:
df.loc[:2]

**7. 앞에서부터 3개의 데이터만 선택하시오(iloc 활용)**

In [ ]:
df.iloc[:3]

**8. 주어진 데이터(df)에서 아래 값을 loc를 활용해 데이터 프레임으로 출력하시오**
- 카페라떼	5000
- 에스프레소 4000

In [ ]:
# loc
df.loc[1:2, :'가격']

**9. 주어진 데이터(df)에서 아래 값을 iloc를 활용해 데이터 프레임으로 출력하시오**
- 카페라떼	5000
- 에스프레소 4000

In [ ]:
# iloc
df.iloc[1:3, :2]

**10. 메뉴 중 가격이 가장 비싼 순으로 정렬해 상위 3개 값을 구하시오**

In [ ]:
df = df.sort_values('가격', ascending=False)
df.iloc[:3]